<div class="main-content" xmlns="http://www.w3.org/1999/html">
    <div class="container-fluid">

        <div class="row">
            <div class="col-sm-6 col-lg-3">
                <h4 class="title">
                    MODE&nbsp;:&nbsp;
                    <select ng-model="mode" class="ng-pristine ng-untouched ng-valid ng-not-empty"><option value="? number:1 ?"></option>
                        <option value="0" ng-selected="mode == 2">REPEATING MODE
                        </option><option value="1" ng-selected="mode == 1" selected="selected">MUSIC MODE
                        </option></select>
                </h4>
            </div>
            <div class="col-sm-6 col-lg-3">
                <h4 class="title">
                    ALARM TIME&nbsp;:&nbsp;
                    <select>
                        <option>00</option>
                        <option>01</option>
                        <option>02</option>
                        <option>03</option>
                        <option>04</option>
                        <option>05</option>
                        <option>06</option>
                        <option>07</option>
                        <option>08</option>
                        <option>09</option>
                        <option>10</option>
                        <option>11</option>
                        <option>12</option>
                    </select>
                    <select>
                        <option>00</option>
                        <option>05</option>
                        <option>10</option>
                        <option>15</option>
                        <option>20</option>
                        <option>25</option>
                        <option>30</option>
                        <option>35</option>
                        <option>40</option>
                        <option>45</option>
                        <option>50</option>
                        <option>55</option>
                    </select>
                </h4>
            </div>
            <div class="col-sm-6 col-lg-3">
                <h4 class="title">
                ALL DEVICES&nbsp;:&nbsp;
                    <select>
                        <option>on</option>
                        <option>off</option>
                    </select>
                </h4>
            </div>

            <br>
        </div>

        <div class="row"><br></div>

            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card card-stats" >
                    <div class="card-header" data-background-color="blue">
                        <i class="material-icons">line_weight</i>
                    </div>
                    <div class="card-content">
                        <p class="category">Window Blinds</p>
                        <h3 class="title">
                            <select>
                                <option>stop</option>
                                <option>moving in</option>
                                <option>moving out</option>
                            </select>
                        </h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">local_offer</i> <a href="#windowblinds"> Window Blinds Settings </a>
                        </div>
                    </div>
                </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card card-stats" >
                        <div class="card-header" data-background-color="blue">
                            <i class="material-icons">line_weight</i>
                        </div>
                        <div class="card-content">
                            <p class="category">Window Blinds</p>
                            <h3 class="title">
                                <select>
                                    <option>stop</option>
                                    <option>moving in</option>
                                    <option>moving out</option>
                                </select>
                            </h3>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <i class="material-icons">local_offer</i> <a href="#windowblinds"> Window Blinds Settings </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card card-stats" >
                        <div class="card-header" data-background-color="blue">
                            <i class="material-icons">line_weight</i>
                        </div>
                        <div class="card-content">
                            <p class="category">Window Blinds</p>
                            <h3 class="title">
                                <select>
                                    <option>stop</option>
                                    <option>moving in</option>
                                    <option>moving out</option>
                                </select>
                            </h3>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <i class="material-icons">local_offer</i> <a href="#windowblinds"> Window Blinds Settings </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card card-stats" >
                        <div class="card-header" data-background-color="blue">
                            <i class="material-icons">line_weight</i>
                        </div>
                        <div class="card-content">
                            <p class="category">Window Blinds</p>
                            <h3 class="title">
                                <select>
                                    <option>stop</option>
                                    <option>moving in</option>
                                    <option>moving out</option>
                                </select>
                            </h3>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <i class="material-icons">local_offer</i> <a href="#windowblinds"> Window Blinds Settings </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card card-stats" >
                        <div class="card-header" data-background-color="red">
                            <i class="material-icons">library_music</i>
                        </div>
                        <div class="card-content">
                            <p class="category">Media Player</p>
                            <h3 class="title">
                                <select>
                                    <option>on</option>
                                    <option>off</option>
                                </select>
                            </h3>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <i class="material-icons">local_offer</i> Tracked by Sonos-Play
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card card-stats" >
                        <div class="card-header" data-background-color="orange">
                            <i class="material-icons">lightbulb_outline</i>
                        </div>
                        <div class="card-content">
                            <p class="category">Dimmable Lamp</p>
                            <h3 class="title">
                                <select>
                                    <option>on</option>
                                    <option>off</option>
                                </select>
                            </h3>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <i class="material-icons">update</i> <a href="#lamps"> Light Settings </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-6"></div>

                <div class="col-lg-3 col-md-6 col-sm-6">
                </div>
                </div>

            <div class="row">

                <div class="col-lg-3 col-md-6 col-sm-6"></div>

            </div>

            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card card-stats" >
                        <div class="card-header" data-background-color="green">
                            <i class="material-icons">graphic_eq</i>
                        </div>
                        <div class="card-content">
                            <p class="category">Heater</p>
                            <h3 class="title">
                                <select>
                                    <option>on</option>
                                    <option>off</option>
                                </select>
                                <small></small></h3>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <i class="material-icons text-danger">warning</i> <a href="#heaters"> Temperature Settings </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card card-stats" >
                        <div class="card-header" data-background-color="green">
                            <i class="material-icons">graphic_eq</i>
                        </div>
                        <div class="card-content">
                            <p class="category">Heater</p>
                            <h3 class="title">
                                <select>
                                    <option>on</option>
                                    <option>off</option>
                                </select>
                                <small></small></h3>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <i class="material-icons text-danger">warning</i> <a href="#heaters"> Temperature Settings </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

    </div>
</div>
