<style type="text/css">

    #jsalarmclock{
        font-family: Tahoma;
        font-weight: bold;
        font-size: 12px;
    }

    #jsalarmclock div{
        margin-bottom: 0.8em;
    }

    #jsalarmclock div.leftcolumn{
        float: left;
        width: 150px;
        font-size: 13px;
        background-color: lightgray;
        clear: left;
    }

    #jsalarmclock span{
        margin-right: 5px;
    }

</style>

<head>
    <title>Countdown</title>
    <script>document.write('<base href="' + document.location + '" />');</script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--<link rel="stylesheet" href="../assets/css/mobiscroll.angular.min.css">-->

    <!-- Polyfills -->
    <script src="https://unpkg.com/core-js/client/shim.min.js"></script>

    <script src="https://unpkg.com/zone.js@0.8.4?main=browser"></script>
    <script src="https://unpkg.com/systemjs@0.19.39/dist/system.src.js"></script>

    <script>
        System.import('main.ts').catch(function(err){ console.error(err); });
    </script>

    <style type="text/css"></style>
</head>

<div class="main-content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-sm-6 col-lg-3">
                <h4 class="title">
                MODE&nbsp;:&nbsp;
                <select ng-model="mode" class="ng-pristine ng-untouched ng-valid ng-not-empty"><option value="? number:1 ?"></option>
                    <option value="0" ng-selected="mode == 2">REPEATING MODE
                    </option><option value="1" ng-selected="mode == 1" selected="selected">MUSIC MODE
                    </option></select></h4>
            </div>
            <br>
        </div>
        <div class="row"><br></div>
        <div class="row"><br></div>

        <!--<div class="row">-->
        <!--<p>{{time | date:'HH:mm' }}</p>-->
        <!--</div>-->

       <!-- <div class="mbsc-form-group">
            <div [(ngModel)]="timer" mbsc-timer [mbsc-options]="timerSettings"></div>
        </div>-->

        <div class="row">
            <div class="col-sm-8 col-lg-5">
            <form action="" method="">
                <div id="jsalarmclock">
                    <h3 class="title">
                    <div><div class="leftcolumn"><h4 class="title">CURRENT TIME:</h4></div>
                        <span id="jsalarm_ct" style="letter-spacing:2px;padding-top:15px;">21:46</span></div>
                        <div class="leftcolumn"><h4 class="title">SET ALARM:</h4></div>
                        <div style="padding-top:10px;padding-left:15px;"> <span> Hour </span><select>
                                    <option>00</option>
                                    <option>01</option>
                                    <option>02</option>
                                    <option>03</option>
                                    <option>04</option>
                                    <option>05</option>
                                    <option>06</option>
                                    <option>07</option>
                                    <option>08</option>
                                    <option>09</option>
                                    <option>10</option>
                                    <option>11</option>
                                    <option>12</option>
                        </select>&nbsp; Minutes <select>
                                    <option>00</option>
                                    <option>05</option>
                                    <option>10</option>
                                    <option>15</option>
                                    <option>20</option>
                                    <option>25</option>
                                    <option>30</option>
                                    <option>35</option>
                                    <option>40</option>
                                    <option>45</option>
                                    <option>50</option>
                                    <option>55</option>
                    </select></div>
                       <br>
                    <!--</select> Seconds</span></div>-->
                    <!--<div><div class="leftcolumn">Set Alarm Action:</div> <input type="text" id="musicloc" size="55" value="http://www.youtube.com/watch?v=v1zY_tV5kaQ" /> <span style="font: normal 11px Tahoma">*Location of page to launch</span></div>-->
                    <!--<p>{{time | date:'HH:mm' }}</p>-->

                    </h3>
                    <h4 class="title"><input type="submit" value="SET ALARM!" id="submitbutton" class="button btn-danger" />&nbsp; <input type="reset" value="RESET" id="resetbutton" class="button btn-danger" /></h4>

                    <div class="row"><br></div>
            </div>
            </form>

            <script type="text/javascript">

                jsalarm.init()

            </script>
        </div>
        </div>

        <div class="row"></div>
        <div class="row"></div>

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" data-background-color="red">
                        <h4 class="title">Task & Notifications</h4>
                        <p class="category">Here is a subtitle for this table</p>
                    </div>
                    <div class="card-content table-responsive">
                        <table class="table">
                            <thead class="text-danger">
                                <tr>
                                    <th>Name</th>
                                    <th>Time</th>
                                    <th>Text</th>
                                    <th>Active</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Work</td>
                                    <td>08:00</td>
                                    <td>Location: Office Mitte</td>
                                    <td class="text-danger">yes</td>
                                </tr>
                                <tr>
                                    <td>Lunch with Andrew</td>
                                    <td>13:00</td>
                                    <td>Meeting Point: Alexander Platz</td>
                                    <td class="text-danger">yes</td>
                                </tr>
                                <tr>
                                    <td>Meeting in the bar</td>
                                    <td>19:00</td>
                                    <td>Meeting Point: Warschauer Straße</td>
                                    <td class="text-danger">yes</td>
                                </tr>

                            </tbody>
                        </table>

                    </div>
                </div>
            </div>

        </div>

        <div class="row">

            <div class="animated fadeIn" ng-controller="roomCtrl">
                <div class="row" hidden>
                    <div class="col-sm-6 col-lg-3">
                        MODE&nbsp;:&nbsp;
                        <select ng-model="mode">
                            <option value="2" ng-selected="mode == 2">ALARM SETTINGS
                        </select>
                    </div>
                    <br>
                </div>

                <div class="row" ng-if="mode == 2" hidden>
                    <div class="col-sm-6 col-lg-3">
                        <div class="card card-inverse card-primary">
                            <div class="card-block pb-0">
                                <p>from:
                                    <input type="datetime-local" style="background-color : rgba(255, 255, 255, 0.4); border-style:none" ng-model="st"/>
                                </p>
                                <p>
                                    to&nbsp;&nbsp;:
                                    <input type="datetime-local" style="background-color : rgba(255, 255, 255, 0.4); border-style:none" ng-model="et"/>
                                </p>
                                <div class="row col-sm-6 col-sm-offset-5 col-lg-3">
                                    <button class="btn btn-primary" ng-click="setMode(2, room.id, st, et)">Save</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" ng-if="mode != 2" hidden>
                    <div class="col-sm-6 col-lg-3" ng-repeat="window in windows">
                        <div class="card card-inverse card-{{rand()}}">
                            <div class="card-block pb-0">
                                <div class="btn-group float-right" ng-if="mode == 1">
                                    <button type="button" class="btn btn-transparent dropdown-toggle p-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="icon-settings"></i>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" ng-click="cw(window.id, 'stopped')">stop</a>
                                        <a class="dropdown-item" ng-click="cw(window.id, 'in')">moving in</a>
                                        <a class="dropdown-item" ng-click="cw(window.id, 'out')">moving out</a>
                                    </div>
                                </div>
                                <!--<h4 class="mb-0">{{wstatus[window.id]}}</h4>-->
                                <p>window</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" hidden>
                    <div class="col-sm-6 col-lg-3" ng-repeat="temp in temps">
                        <div class="card card-inverse card-{{rand()}}">
                            <div class="card-block pb-0">

                                <!--<h4 class="mb-0">{{tstatus[temp.id]}}</h4>-->
                                <p>Temperature</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6 col-lg-3" ng-repeat="heater in heaters" hidden>
                        <div class="card card-inverse card-{{rand()}}">
                            <div class="card-block pb-0">
                                <div class="btn-group float-right" ng-if="mode == 1">
                                    <button type="button" class="btn btn-transparent dropdown-toggle p-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="icon-settings"></i>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <!--<a class="dropdown-item" ng-click="setHeater(heater.id, 'true')">ON</a>-->
                                        <!--<a class="dropdown-item" ng-click="setHeater(heater.id, 'false')">OFF</a>-->
                                    </div>
                                </div>
                                <!--<h4 class="mb-0">{{hstatus[heater.id] | sw}}</h4>-->
                                <p>Heaters</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
