<div class="wrapper">
    <div class="sidebar" data-color='red' data-image="">
        <app-sidebar></app-sidebar>
        <div class="sidebar-background" style="background-image: url(../assets/img/sidebar-4.jpg)"></div>
    </div>
    <div class="main-panel">
        <app-navbar></app-navbar>
        <router-outlet></router-outlet>
        <div *ngIf="isMaps('maps')">
            <app-footer></app-footer>
        </div>
    </div>
    <!--<mbsc-form>
        <div [(ngModel)]="timer" mbsc-timer [mbsc-options]="timerSettings"></div>
    </mbsc-form>-->
</div>
