<div class="main-content">

        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                </div>

                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card card-stats" >
                        <div class="card-header" data-background-color="red">
                            <i class="material-icons">library_music</i>
                        </div>
                        <div class="card-content">
                            <p class="category">Media Player</p>
                            <h3 class="title">
                                <select>
                                    <option>on</option>
                                    <option>off</option>
                                </select>
                            </h3>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <i class="material-icons">local_offer</i> Tracked by Sonos-Play
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card card-stats" >
                        <div class="card-header" data-background-color="orange">
                            <i class="material-icons">lightbulb_outline</i>
                        </div>
                        <div class="card-content">
                            <p class="category">Dimmable Lamp</p>
                            <h3 class="title">
                                <select>
                                    <option>on</option>
                                    <option>off</option>
                                </select>
                            </h3>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <i class="material-icons">update</i> <a href="#lamps"> Light Settings </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card card-stats" >
                        <div class="card-header" data-background-color="purple">
                            <i class="material-icons">alarm</i>
                        </div>
                        <div class="card-content">
                            <p class="category">Alarm Clock</p>
                            <h3 class="title">
                                <select>
                                    <option>00</option>
                                    <option>01</option>
                                    <option>02</option>
                                    <option>03</option>
                                    <option>04</option>
                                    <option>05</option>
                                    <option>06</option>
                                    <option>07</option>
                                    <option>08</option>
                                    <option>09</option>
                                    <option>10</option>
                                    <option>11</option>
                                    <option>12</option>
                                </select>
                                <select>
                                    <option>00</option>
                                    <option>05</option>
                                    <option>10</option>
                                    <option>15</option>
                                    <option>20</option>
                                    <option>25</option>
                                    <option>30</option>
                                    <option>35</option>
                                    <option>40</option>
                                    <option>45</option>
                                    <option>50</option>
                                    <option>55</option>
                                </select>
                            </h3>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <i class="material-icons">date_range</i><a href="#fullcalendar"> Alarm Settings </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-6"></div>
                <div class="col-lg-3 col-md-6 col-sm-6"></div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card card-stats" >
                        <div class="card-header" data-background-color="grey">
                            <i class="material-icons">extension</i>
                        </div>
                        <div class="card-content">
                            <p class="category">All Devices</p>
                            <h3 class="title">
                                <select>
                                    <option>on</option>
                                    <option>off</option>
                                </select>
                            </h3>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <i class="material-icons">access_time</i> Turning all Devices ONN/OFF
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                </div>

                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card card-stats" >
                        <div class="card-header" data-background-color="blue">
                            <i class="material-icons">line_weight</i>
                        </div>
                        <div class="card-content">
                            <p class="category">Window Blinds</p>
                            <h3 class="title">
                                <select>
                                    <option>stop</option>
                                    <option>moving in</option>
                                    <option>moving out</option>
                                </select>
                            </h3>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <i class="material-icons">local_offer</i> <a href="#windowblinds"> Window Blinds Settings </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card card-stats" >
                        <div class="card-header" data-background-color="green">
                            <i class="material-icons">graphic_eq</i>
                        </div>
                        <div class="card-content">
                            <p class="category">Heater</p>
                            <h3 class="title">
                                <select>
                                    <option>on</option>
                                    <option>off</option>
                                </select>
                                <small></small></h3>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <i class="material-icons text-danger">warning</i> <a href="#heater"> Temperature Settings </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="card" >
                        <div class="card-header card-chart" data-background-color="green">
                            <div class="ct-chart" id="dailyAcivityChart"></div>
                        </div>
                        <div class="card-content">
                            <h4 class="title">Daily Activity</h4>
                            <!--<p class="category"><span class="text-success"><i class="fa fa-long-arrow-up"></i> 15%  </span> increase in compare with tomorrow.</p>-->
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <i class="material-icons">access_time</i> updated 4 minutes ago
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card" >
                        <div class="card-header card-chart" data-background-color="orange">
                            <div class="ct-chart" id="emailsSubscriptionChart"></div>
                        </div>
                        <div class="card-content">
                            <h4 class="title">Energy Use</h4>
                            <p class="category"></p>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <i class="material-icons">access_time</i> updated 1 day ago
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card" >
                        <div class="card-header card-chart" data-background-color="red">
                            <div class="ct-chart" id="completedTasksChart"></div>
                        </div>
                        <div class="card-content">
                            <h4 class="title">Updated Notifications</h4>
                            <p class="category"></p>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <i class="material-icons">access_time</i> updated 10 minutes ago
                            </div>
                        </div>
                    </div>
                </div>
            </div>
</div>
</div>