<div class="main-content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header" data-background-color="red">
                <h4 class="title">Notifications</h4>
                <p class="category">Handcrafted by our friend <a target="_blank" href="https://github.com/mouse0270">Robert McIntosh</a>. Please checkout the <a href="http://bootstrap-notify.remabledesigns.com/" target="_blank">full documentation.</a></p>
            </div>
            <div class="card-content">
                <div class="row">
                    <!--<div class="col-md-6">-->
                        <!--<h5>Notifications Style</h5>-->
                        <!--<div class="alert alert-info">-->
                            <!--<span>This is a plain notification</span>-->
                        <!--</div>-->
                        <!--<div class="alert alert-info">-->
                            <!--<button type="button" aria-hidden="true" class="close">×</button>-->
                            <!--<span>This is a notification with close button.</span>-->
                        <!--</div>-->
                        <!--<div class="alert alert-info alert-with-icon" data-notify="container">-->
                            <!--<button type="button" aria-hidden="true" class="close">×</button>-->
                            <!--<i data-notify="icon" class="material-icons">add_alert</i>-->
                            <!--<span data-notify="message">This is a notification with close button and icon.</span>-->
                        <!--</div>-->
                        <!--<div class="alert alert-info alert-with-icon" data-notify="container">-->
                            <!--<button type="button" aria-hidden="true" class="close">×</button>-->
                            <!--<i data-notify="icon" class="material-icons">add_alert</i>-->
                            <!--<span data-notify="message">This is a notification with close button and icon and have many lines. You can see that the icon and the close button are always vertically aligned. This is a beautiful notification. So you don't have to worry about the style.</span>-->
                        <!--</div>-->
                    <!--</div>-->
                    <div class="col-md-6">
                        <h5>Notification states</h5>
                        <div class="alert alert-info">
                            <button type="button" aria-hidden="true" class="btn close" (click)="showNotification('top','left')">×</button>
                            <span><b>8:00 - </b> Work </span>
                        </div>
                        <div class="alert alert-success">
                            <button type="button" aria-hidden="true" class="close" >×</button>
                            <span><b>13:00 - </b> Lunch with Andrew </span>
                        </div>
                        <div class="alert alert-warning">
                            <button type="button" aria-hidden="true" class="close" >×</button>
                            <span><b>19:00 - </b> Meeting in the bar </span>
                        </div>
                        <div class="alert alert-danger">
                            <button type="button" aria-hidden="true" class="close" >×</button>
                            <span><b>07:00 - </b> New Alarm for tomorrow</span>
                        </div>
                        <!--<div class="alert alert-primary">-->
                            <!--<button type="button" aria-hidden="true" class="close">×</button>-->
                            <!--<span><b> Danger - </b> Meeting at 15:00</span>-->
                        <!--</div>-->
                    </div>
                </div>

                <br>
                <br>

                <!--<div class="places-buttons">-->
                    <!--<div class="row">-->
                        <!--<div class="col-md-6 col-md-offset-3 text-center">-->
                            <!--<h5>Notifications Places-->
                                <!--<p class="category">Click to view notifications</p>-->
                            <!--</h5>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="row">-->
                        <!--<div class="col-md-8 col-md-offset-2">-->
                            <!--<div class="col-md-4">-->
                                <!--<button class="btn btn-danger btn-block" (click)="showNotification('top','left')">Top Left</button>-->
                            <!--</div>-->
                            <!--<div class="col-md-4">-->
                                <!--<button class="btn btn-danger btn-block" (click)="showNotification('top','center')">Top Center</button>-->
                            <!--</div>-->
                            <!--<div class="col-md-4">-->
                                <!--<button class="btn btn-danger btn-block" (click)="showNotification('top','right')">Top Right</button>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="row">-->
                        <!--<div class="col-md-8 col-md-offset-2">-->
                            <!--<div class="col-md-4">-->
                                <!--<button class="btn btn-danger btn-block" (click)="showNotification('bottom','left')">Bottom Left</button>-->
                            <!--</div>-->
                            <!--<div class="col-md-4">-->
                                <!--<button class="btn btn-danger btn-block" (click)="showNotification('bottom','center')">Bottom Center</button>-->
                            <!--</div>-->
                            <!--<div class="col-md-4">-->
                                <!--<button class="btn btn-danger btn-block" (click)="showNotification('bottom','right')">Bottom Right</button>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            </div>
        </div>
    </div>
</div>
